body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Universal Stylings */

.bottom-border {
    border-bottom: solid black 2px;
}

.bold-text {
    font-weight: 500;
}



/* NavBar */

nav {
    height: 100px;
}

.nav-warpper {
    margin: 20px;
}

nav ul a {
    color: black;
    line-height: 100px;
    font-weight: 500;
}

.logo {
    height: 100px;
}

/* Hero Seciton */

.hero-image {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 700px;
    background: url("../img/hero-background-img.jpg") no-repeat center;
    background-size: cover;
}

.hero-card {
    margin: 10px 30px;
    height: 500px;
}

.marquee-container {
    padding: 0 !important;
}

.marquee {
    animation: marquee 250s linear infinite;
    white-space: nowrap;
}

.marquee li {
    display: inline-block;
}

/* Featured Section */

.featured-sets a {
    color: black;
}

.featured-sets h3 {
    text-decoration: underline;
}

.feature-logo {
    max-width: 75%;
    max-height: 150px;
    margin: auto;
}

.feature-card {
    background-color: #e4e4e4;
    height: 25rem;
    display: block;
    border-radius: 25px;
}

.card-content {
    margin: auto;
    height: 100%;
}

.card-element {
    height: 50%;
    width: 100%;

}

/* Set Search */

.search-box {
    margin-top: 30px;
    font-size: 25px;
}

.search-input {
    width: 75%;
}

/* Card Page */

.card-header h4 {
    margin-top: 0;
    color: rgb(90, 90, 90);
    margin-bottom: 25px;
}

.card-header h3 {
    margin-top: 25px;
    margin-bottom: 0;
}

.section-title {
    margin-left: 15px;
    text-decoration: underline;
    font-size: 2em;
}

.energy-img {
    height: 35px;
    margin-left: 2px;
}

.card-number {
    font-size: 30px;
    height: 100%;
    margin: auto;
}


.card-img {
    width: 100%;
    max-width: 80%;
    display: inline-block;
}

.type-img {
    height: 35px;
    margin-bottom: -10px;
    margin-left: 5px;
}

.card-hp h5, .card-hp img {
    display: inline-block;
}

/* Footer */

footer {
    border-top: 1px solid black;
}

main {
    flex: 1 0 auto;
} 

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer li a {
    color: black;
}

.socials {
    font-size: 25px;
    margin: 0;
}

.credits {
    margin: 0;
}

/* animations */

@keyframes marquee {
    from { transform: translateX(0%); }
    to   { transform: translateX(-100%); }
}
