{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s12">
    <h2>{{ name }}</h2>
    <form method="POST" action="/delete_user" onsubmit="return confirmDelete()">
      <button type="submit">Delete Account</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collapsible">
      {% for setName in series %}
      <li>
        <div class="collapsible-header">{{ setName }}</div>
        <div class="collapsible-body">
          <ul class="collapsible">
            {% for set in sets %} {% if set.series == setName %}
            <li>
              <div class="collapsible-header">{{ set.name }}</div>
              {% for card in user_cards_dict %}
              <div class="collapsible-body">
                <img
                  class="collection_card_image"
                  src="{{ card.card_image }}"
                />
                <p class="collection_card_title">{{ card.card_name}}</p>
                <p class="collection_card_number">
                  {{ card.card_number }} / {{ set.total }}
                </p>
              </div>
              {% endfor %}
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
