{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s12">
    <h2>{{ name }}</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collapsible">
      {% for setName in series %}
      <li>
        <div class="collapsible-header">{{ setName }}</div>
        <div class="collapsible-body">
          <ul class="collapsible">
            {% for set in sets %} {% if set.series == setName %}
            <li>
              <div class="collapsible-header">{{ set.name }}</div>
              {% for card in user_cards_dict %}
              <div class="collapsible-body">
                <p>{{ card.card_name }}</p>
                <p>{{ card.card_number }}</p>
              </div>
              {% endfor %}
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
