{% extends 'base.html' %} {% block content %}
<div class="container search-box center-align">
  <div class="row">
    <p>Card Search</p>
    <form id="card-search" method="POST" action="/card_search_post">
      <input
        class="search-input"
        type="search"
        name="search"
        placeholder="eg: Charizard"
        required
      />
      <button type="submit" class="btn waves-effect waves-light">Search</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row card-container">
    {% for card in cards %}
    <div class="col s12 m6 l3">
      <a href="/cards/{{ card.id }}">
        <div class="card">
          <div class="card-image">
            <img src="{{ card.images.small }}" alt="{{ card.name }}" />
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
