{% extends 'base.html' %}
{% block content %}
    <div class="container search-box center-align">
        <div class="row">
            <p>Card Search</p>
            <form id="card-search" method="POST" action="/card_search_post">
                <input class="search-input" type="search" name="search" placeholder="eg: Charizard" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% for card in cards %}
        <a href="/cards/{{ card.id }}">
            <div class="col s12 m6 l3">
                <img src="{{ card.images.small }}" alt="{{ card.name }}">
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}