{% extends 'base.html' %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>{{ sets[0].name }}</h3>
                </div>
            </div>
            <div class="row">
                {% for card in cards %}
                <a href="/cards/{{ card.id }}">
                <div class="col s12 m6 l3">
                    <img src="{{ card.images.small }}">
                </div>
                </a>
                {% endfor %}
            </div>
        </div>

{% endblock %}