{% extends 'base.html' %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>{{ active_set.name }}</h3>
                </div>
            </div>
            <div class="row">
                {% for card in cards %}
                <div class="col s12 m6 l4">
                    <img src="{{ card.images.small }}">
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}